<div class="articles-container">
    {% if articles|length > 0 %}
        {% for article in articles %}
            <div class="article-container">
                <div class="article-header">
                    <div class="article-picture">
                        {{ article.getTeaserPicture.getTitle }}
                        <img src="{{ article.getTeaserPicture.getPictureUrl }}" alt="">
                        <div class="article-created">
                            <p>{{ article.getCreated }}</p>
                        </div>
                    </div>
                </div>
                <div class="article-content">
                    <h2>{{ article.getTitle }}</h2>
                    <p>{{ article.getSubtitle }}</p>
                    <div class="article-read-more">
                        <a href="">Weiterlesen</a></div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        Es gibt noch keine Artikel.
    {% endif %}
</div>