<div class="articles-backend-container">
    {% if articles|length > 0 %}
        <div class="article-backend-container">
            <table>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.getTitle }}</td>
                        <td>
                            {% for author in article.getAuthorList%}
                                {{ author.getFirstname }} {{ author.getName }},
                            {% endfor %}
                        </td>
                        <td>{{ article.getCreated }}</td>
                        <td><input type="button" name="submit" class="js-edit-article" data-article-id="{{ article.getArticleId }}" value="Bearbeiten"></td>
                        <td><a href="index.php?route=deleteArticle&articleId={{ article.getArticleId }}" class="js-delete">Löschen</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        Es gibt noch keine Artikel.
    {% endif %}
</div>